.nanoModal {
    position: absolute;
    top: 100px;
    left: 50%;
    display: none;
    background: #fff;
    z-index: 9999;
    min-width: 300px;
    padding: 15px 20px 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #ddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#ddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#ddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fff 0%,#ddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.nanoModalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: #000;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.nanoModalButtons {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    text-align: right;
}

.nanoModalBtn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin: 8px 4px 0 4px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.nanoModalBtn:hover, .nanoModalBtn:focus, .nanoModalBtn:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.nanoModalBtn.nanoModalBtnPrimary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.nanoModalBtn.nanoModalBtnPrimary:hover, .nanoModalBtn.nanoModalBtnPrimary:focus, .nanoModalBtn.nanoModalBtnPrimary:active {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
